<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http Study Welcome</title>
    <script src="/js/jquery.js" rel="script"></script>
<!--    <script src="/js/jquery.js" rel="preload"></script>-->
<!--    <link href="/css/google_css.css" rel="preload" as="style">-->
    <link href="/css/css01.css" rel="async" as="style">
    <link href="/css/css02.css" rel="preload" as="style">
    <link href="/css/css03.css" rel="preload" as="style">
    <link href="/css/css04.css" rel="preload" as="style">
    <link href="/css/css05.css" rel="preload" as="style">
    <link href="/css/css06.css" rel="preload" as="style">
    <link href="/css/css07.css" rel="preload" as="style">
    <link href="/css/css08.css" rel="preload" as="style">
    <link href="/css/css09.css" rel="preload" as="style">
    <link href="/css/css10.css" rel="preload" as="style">
    <link href="/css/google_css.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" rel="preconnect" />-->
</head>
<body>
    <h1>WELCOME~!</h1>
    <button id="test" onclick="pushEvent()">Push</button>
</body>
<script type="text/javascript">
    function pushEvent() {
        $('#test').text('pushed!!!')
    }
</script>
</html>